/* header section */

#logo {
  width: 50px;
}

header {
  /* background-color: yellow; */
  height: 100px;
  display: flex;
}

header div {
  width: 30%;
  /* background-color: brown; */
  margin-left: 10px;
  display: flex;
  align-items: center;  /*applies to parent elements */
}

header nav {
  width: 50%;
  /* background-color: green; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#home-link {
  margin-left: 10px;
}

/* hero section */

#hero-section {
  display: flex;
  height: 450px;
  background-color: green;
}

#hero-image {
  width: 50%;
  text-align: right;
}

#hero-image img {
height: 100%;
}

#hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

/* picture sectoin */

#pic-section h2, #vid-section h2, #reviews h2 {
  text-align: center;
}


#pic-gallery {
  display: grid;
  grid-template-rows: 350px 350px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px 10px; 
}

#pic-gallery img {
  object-fit: cover;
  height: 350px;
  width: 100%;
}

/* video section */
/* borrowed from */

.video-responsive {
overflow: hidden;
padding-bottom: 56.25%;
position: relative;
height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position:absolute;
}

#vid-gallery {
  display:flex; 
  height: 400px;
  /* justify-content: center; */
}

.video {
  width: 48%;
  margin: 0 auto;
}

/* review section */

#reviewers {
  display: flex;

}

#reviewers img{
  object-fit: cover;
  width: 230px ;
  height: 230px;
  border-radius: 100%;
}

.reviewer {
  text-align: center;

}

/* footer */

footer{
  text-align: center;
}

/* Try me page */

#try-main {
  height: 70vh;
}

